<ul id="login">
	<!--<li>
		<script type="text/javascript">
			document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=13520300779260882736') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));
		</script>
	</li>-->
	{% if username %}
		<li><a id="username" href="/blog/login/">{{ username }}</a></li>
	{% else %}
		<li><a id="login_button" href="/blog/login/">管理员登陆</a></li>
	{% endif %}
	<li class="nav_line">|</li>
	<li><a id="logout_button" href="/blog/login/login_out/">注销</a></li>
</ul>