 <div id="sidebar">
	<h1>分类</h1>
	<div class="boxcont">
		<ul class="article_cate">
			{% for category in categories %}
			 	<li>
			 		<a href="javascript:void(0);" 
			 			onclick="showMainContent('/blog/article_list/?categoryid={{category.cateid}}')">
			 			{{category.cateName}}({{category.cateNum}})
			 		</a>
			 	</li>
			{% endfor %}
		</ul>
	</div>
	<div class="bottom"></div>
	
	<h1>归档</h1>
	<div class="boxcont">
		<ul class="article_cale">
			{% for cale_year in cales_year %}
			 	<li class="flip_class" index="{{forloop.counter}}">
			 		<a href="javascript:void(0);" 
			 			onclick="showMainContent('/blog/article_list/?year={{cale_year.year}}')">
			 			{{cale_year.year}}年({{cale_year.year_num}})
			 		</a>
			 	</li>
			 	{% for cale_month in cales_month%}
			 		<div class="flip_div_{{forloop.parentloop.counter}}">
				 		{% if cale_year.year == cale_month.year%}
					 		<li style="background:none">
						 		&nbsp;&nbsp;&nbsp;
						 		<a href="javascript:void(0);" 
						 			onclick="showMainContent('/blog/article_list/?year={{cale_year.year}}&month={{cale_month.month}}')">
						 			{{cale_month.month}}月({{cale_month.month_num}})
						 		</a>
					 		</li>
				 		{% endif %}
			 		</div>
			 	{% endfor %}
			{% endfor %}
		</ul>
	</div>
	<div class="bottom"></div>
</div>