@charset "utf-8";
/* CSS Document */
* {margin:0px; padding:0px;  outline:0px;}
a {text-decoration:none;-moz-outline:none;}
a:hover {color:#FC0; text-decoration:underline;}
ul,li,dl,dt,dd,ol {display:block;list-style: none;}
h1,h2,h3,h4,h5 {font-size:14px; display:block;}
p,form {display:block;}
.ovhidden {overflow:hidden;}
body {
	font-family: "Trebuchet MS", Arial, "宋体";
	font-size:14px;
	margin:0px;
	background:#FFFFFF;
	color:#333;
}
#container {
	position:relative;
	width:960px;
	margin:0px auto;
}

/* login */
#login_div #login_form{
	line-height:30px;
}
/* login */

/* header */
#header {
	width:960px;
	height:100px;
	float:left;
	clear:both;
}

#login{
	height: 30px;
	line-height: 24px;
	float:right;
	overflow:hidden;
	clear:both;
	padding-right:10px;
}
#login li {
	float: left;
	padding: 0 2px;
	height: 24px;
	list-style: none;
	line-height: 24px;
}
#login a {
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
}
#login a:link,#login a:visited {
	color: #000;
	font-weight: bold;
}
#login a:hover {
	color: #FC0;
	font-weight: bold;
}
#login .nav_line {
	width: 10px;
	margin: 0;
	text-align: center;
	height: 24px;
	line-height: 24px;
}

#nav {
	width:950px;
	height:60px;
	float:left;
	padding-left:10px;
	overflow:hidden;
	clear:both;
	background:#000;
}
#nav li {
	height:60px;
	padding:0px 11px 0px 10px;
	float:left;
	background:url(/static/images/nav_li_bg.png) right center no-repeat #000;
	line-height:60px;
	text-align:center;
}
#nav li h1{
	width:220px;
	font-size:17px;
	color:#FFFFFF;
	text-align:left;
}
#nav li a {
	display:block;
	width:120px;
	height:60px;
	float:left;
	clear:both;
	font-weight:bold;
	color:#FFF;
}
#nav li a:hover {
	color:#FC0;
	text-decoration:none;
	border:0px;
	background:url(/static/images/nav_a_hover_bg.png) no-repeat;
}

#navshadow {
	width:960px;
	height:10px;
	float:left;
	clear:both;
	background:url(/static/images/navshadow_bg.png) repeat-x;
}
#content {
	width:960px;
	float:left;
	clear:both;
	padding-bottom:20px;
}
#sidebar {
	width:250px;
	float:left;
}
#sidebar h1 {
	width:232px;
	height:40px;
	float:left;
	clear:both;
	padding:5px 0px 1px 18px;
	background:url(/static/images/sidebar_title.png) no-repeat;
	color:#333;
	line-height:40px;
}
#sidebar .boxcont {
	width:230px;
	float:left;
	clear:both;
	line-height:24px;
	background:url(/static/images/sidebar_content_bg.png) repeat-y;
	padding:5px 10px;
}
/* header */

/* buttom */
#footer {
	width:960px;
	height:100px;
	float:left;
	clear:both;
	border-top:5px solid #CCC;
	text-align:left;
	line-height:30px;
	color:#666;
}
/* buttom */