<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="baidu-site-verification" content="Ex8Xngyke9" />

<link rel="icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="{{STATIC_URL}}styles/globalCss.css" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}scripts/jquery-ui-1.11.1/jquery-ui.min.css" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}scripts/jquery-ui-1.11.1/jquery-ui.structure.min.css" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}scripts/jquery-ui-1.11.1/jquery-ui.theme.min.css" type="text/css" />

<script type="text/javascript" src="{{STATIC_URL}}scripts/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}scripts/jquery/jquery-my.js"></script>