@charset "utf-8";
* {margin:0px; padding:0px; border:0px; outline:0px;}
a {text-decoration:none;-moz-outline:none;}
a:hover {color:#FC0; text-decoration:underline;}
ul,li,dl,dt,dd,ol {list-style-type:none; display:block;}
h1,h2,h3,h4,h5 {font-size:14px; display:block;}
p,form {display:block;}
.ovhidden {overflow:hidden;}

.article_article .save_article {
	width:680px;
	padding:10px;
	float:left;
	clear:both;
	font-size:14px;
	border-bottom:1px dashed #CCC;
}

.article_article .article_info{
	width:680px;
	padding:10px;
	font-family: "Trebuchet MS", Arial, "����";
	font-size:14px;
	color:#333;
	border-bottom:1px dashed #CCC;
}

/* article detail */
.article_article {
	width:680px;
	float:left;
}
.article_article h1 {
	width:678px;
	height:46px;
	float:left;
	clear:both;
	line-height:46px;
	text-align:center;
	border:1px dashed #CCC;
	font-family:"Trebuchet MS",Arial,"����";
	font-size:22px;
}
.article_article .info {
	width:678px;
	height:30px;
	float:left;
	clear:both;
	line-height:30px;
	padding:0px 10px;
	border-bottom:1px dotted #CCC;
	color:#999;
	text-align:center;
}
.article_article .info span {
	margin:0px 10px;
}
.article_article .zoom {
	width:678px;
	padding:10px;
	float:left;
	clear:both;
	font-size:14px;
	line-height:150%;
	border-bottom:1px dashed #CCC;
}
.article_article .zoom p {
	width:678px;
	margin:8px 0px;
	float:left;
	clear:both;
}
.article_article .zoom img {
	padding:3px;
	background:#FFF;
	border:1px solid #CCC;
}
.article_article .zoom a {color:#F90; text-decoration:none; border-bottom:1px solid #F90;}
.article_article .zoom a:hover {color:#F90; text-decoration:none; border-bottom:1px dotted #F90;}

.nav_article {
	width:700px;
	height:48px;
	float:left;
	clear:both;
	padding:8px 0px;
	border:1px dashed #CCC;
	border-left:none;
	border-right:none;
}
.nav_article li {
	width:680px;
	height:24px;
	float:left;
	clear:both;
	line-height:24px;
	padding:0px 10px;
}
.nav_article li a {
	color:#F90;
}

.article_comment{
	padding:8px 0px 0px 8px;
}
/* article detail */