<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{%include 'public/public.html'%}

	<title>Hardrubic博客</title>
	<link rel="stylesheet" href="/static/styles/articleDetailCss.css" type="text/css" />
	<script type="text/javascript" src="/static/scripts/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery/jquery-my.js"></script>
	<script type="text/javascript" src="/static/scripts/biz/blog.js"></script>
	<script type="text/javascript" src="/static/scripts/util/JSONSubmit.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery-json/jquery-json.js"></script>
</head>

<body>
<div id="container">
{%include 'main/header.html'%}

	<div class="article_article">
		<h1>{{caption_one}}</h1>
		<div class="info">
			<span>文章类别：{{cate_name_one}}</span>
			<span>阅读次数：{{degree_one}}</span>
			<span>发表时间：{{times_one|date:'Y'}}.{{times_one|date:'m'}}.{{times_one|date:'d'}}</span>
		</div>
		<div class="zoom">
			{% autoescape off %}
				{{content_one}}
			{% endautoescape %}
		</div>
		
		<div class="article_comment">
			<div class="ds-thread" data-thread-key="{{ariticle_id}}" data-title="{{caption_one}}"
				data-limit="10"></div>
			<script type="text/javascript">
				var duoshuoQuery = {short_name:"hardrubic"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = 'http://static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] 
						|| document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
			</script>	
		</div>
	  
		<ul class="nav_article">
		    <li>上一篇：
		  	  	{% if previous %}
		   		 	<a href="/blog/article_detail/?articleid={{previous_id}}">{{previous_caption}}</a>
		    	{% else %}
		   			 没有了!
		   		{% endif %}
		   	</li>
		    <li>下一篇：
				{% if next %}
					<a href="/blog/article_detail/?articleid={{next_id}}">{{next_caption}}</a>
				{% else %}
					没有了!
				{% endif %}
			</li>
		</ul>
	</div>
  
{%include 'main/bottom.html'%}

</div>
</body>
</html>




	