<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{%include 'public/public.html'%}

	<title>Hardrubic博客</title>

	<link rel="stylesheet" href="/static/styles/indexCss.css" type="text/css" />

	<script type="text/javascript" src="/static/scripts/biz/Login.js"></script>
	<script type="text/javascript" src="/static/scripts/util/Public.js"></script>
	<script type="text/javascript" src="/static/scripts/util/JSONSubmit.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery-json/jquery-json.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery-cookie/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery-ui-1.11.1/jquery-ui.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var categoryid = $('#categoryid').val();
			if(categoryid!="None"){
				showMainContent('/blog/article_list/?categoryid='+categoryid);
			}else{
				showMainContent('/blog/article_list/');
			}
		});
	</script>
</head>

<body>
	<input type="hidden" id="categoryid" value="{{categoryid}}">
	<div id="container">
	{%include 'main/header.html'%}
	
		<div id="content">
		{%include 'main/left.html'%}
			<div id="main_content">
			</div>
		</div>

	{%include 'main/bottom.html'%}
	</div>

</body>
</html>
