 <div id="sidebar">
	<h1>关于Hardrubic博客</h1>
	<div class="boxcont about">
		<img src="/static/images/dlam.jpg" alt="" width="212" height="318" />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		本博客是程序初学者hardrubic作为练习的作品，采用了Python的web框架Django，才疏学浅，欢迎指导
		<br />
  	</div>
	<div class="bottom"></div>
	
	<h1>最新文章</h1>
	<div class="boxcont">
		<ul class="new_article">
			{% for article in recent_articles %}
			 	<li>
			 		<a href="/blog/article_detail/?articleid={{article.articleid}}" target="view_window">
			 			【{{article.caption}}】 {{article.times|date:'Y'}}.{{article.times|date:'m'}}.{{article.times|date:'d'}}
			 		</a>
			 	</li>
			{% endfor %}
		</ul>
	</div>
	<div class="bottom"></div>

</div>