<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{%include 'public/public.html'%}
	<title>Hardrubic博客</title>
	<script type="text/javascript" src="/static/scripts/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery/jquery-my.js"></script>
	<script type="text/javascript" src="/static/scripts/biz/Login.js"></script>
	<script type="text/javascript" src="/static/scripts/util/Public.js"></script>
	<script type="text/javascript" src="/static/scripts/util/JSONSubmit.js"></script>
	<script type="text/javascript" src="/static/scripts/jquery-json/jquery-json.js"></script>
	
</head>

<body>
	<div id="container">
	{%include 'main/header.html'%}

	<div class="article_comment">
		<div class="ds-thread" data-thread-key="0" data-title="留言"
			data-limit="20"></div>
		<script type="text/javascript">
			var duoshuoQuery = {short_name:"hardrubic"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = 'http://static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0]
					|| document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
		</script>
	</div>

	{%include 'main/bottom.html'%}
	</div>
</body>
</html>




	