<div class="list_article">
<h1>{{ hello }}</h1>
{% if articles%}
  <ul>
  {% for article in articlelist.object_list %}
    <li class="list_article_every">
      <div class="list_titlebox">
        <h1>{{article.caption}}</h1>
      </div>
      <div class="list_boxcont">
        <div class="zoom">
        {% autoescape off %}
			{{article.shortContent}}
        {% endautoescape %}
        </div>
        <div class="info">
        	<span>发表时间：{{article.times|date:'Y'}}.{{article.times|date:'m'}}.{{article.times|date:'d'}}</span>
			<span>文章类别：{{article.cateName}}</span>
			<span>阅读次数：{{article.degree}}</span>
			<span>状态：{{article.status}}</span>
          <a href="javascript:void(0);" onclick="deleteArticle({{article.articleid}})">删除</a>
          <a href="/blog/manager/manager_article_edit?articleid={{article.articleid}}">编辑</a>
        </div>
      </div>
    </li>
	{% endfor %}

  </ul>
  <div id="pages">
	{% if articlelist.has_previous %}
		<a href="javascript:void(0);" title="上一页"
			onclick="showMainContent('/blog/manager/manager_article_list/?page={{articlelist.previous_page_number}}')">上一页</a>&nbsp;
		<a href="javascript:void(0);" title="首 页"
		onclick="showMainContent('/blog/manager/manager_article_list/?page=1')">首 页</a>&nbsp;
	{% endif %}
	&nbsp;
	{% for p in page_range %}
		{% ifequal p articlelist.number %}
			<span style="background:#FF9900;">{{p}}</span>
		{% else %}
			<a href="javascript:void(0);" title="第{{p}}页"
				onclick="showMainContent('/blog/manager/manager_article_list/?page={{p}}')">{{p}}</a>
		{% endifequal %}
	{% endfor %}
	&nbsp;
	{% if articlelist.has_next %}
	<a href="javascript:void(0);" title="下一页"
		onclick="showMainContent('/blog/manager/manager_article_list/?page={{articlelist.next_page_number}}')" >下一页</a>&nbsp;
	<a href="javascript:void(0);" title="末 页"
		onclick="showMainContent('/blog/manager/manager_article_list/?page={{articlelist.paginator.num_pages}}')">末 页</a>&nbsp;
	{% endif %}
  </div>
</div>
{% else %}
	<center>没有文章呢！</center>
{% endif %}